
.companylist {
  border: thin solid rgb(193, 193, 238);
  padding: 2rem;
  margin: 2rem;
  display: flex;
  width: 500px;
  flex-direction: column;
}
 
.brandinfoarray {
  position: relative;
  top: -52px;
  background: white;
  padding: 7px;
  width: 106px;
  color:black;
}